<!-- Grey with black text -->
<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" routerLink="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/products">Catalog</a>
    </li>
  </ul>
  <ul class="navbar-nav">
      <li *ngIf="isLoggedIn">
        <span class="nav-link">
            Hi! {{userName}}
        </span>
      </li>
      <li *ngIf="isLoggedIn">
        <button class="btn btn-success" (click)="goToSummary()">
          <strong>Your Cart: </strong> 
          <span>{{totalQty}}</span> 
        </button>
      </li>
    <li class="nav-item" *ngIf="!isLoggedIn">
        <a class="btn btn-danger" routerLink="/login">Login</a>
    </li>
    <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link" (click)="logOut()" style="cursor: pointer;">Logout</a>
    </li>
  </ul>
</nav>
<br>
<div class="container">
  <router-outlet></router-outlet>
</div>
