<div class="alert alert-info" *ngIf="!cart.length">
  There is <strong>no products</strong> selected to buy.
</div>

<div *ngIf="cart.length > 0">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th></th>
        <th>Qty.</th>
        <th>Product</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of cart">
        <td class="actions">
          <a (click)="removeFromOrder(order.product.productID)">
            <i class="fa fa-remove"></i>
          </a>
        </td>
        <td>{{order.qty}}</td>
        <td>{{order.product.name}}</td>
        <td>{{order.product.price | currency}}</td>
      </tr>
    </tbody>
    <tfoot>
      <td style="text-align: right" colspan="3">Total</td>
      <td><strong>{{totalCost | currency}}</strong></td>
    </tfoot>
  </table>
  <button class="btn btn-primary" (click)="orderNow()">
    Order Now
  </button>
  <button class="btn btn-danger float-right" (click)="clearCart()">
      Clear Cart
    </button>
</div>