/* You can add global styles to this file, and also import other style files */
td.actions{
    font-size: 1.5em;
}

td.actions i {
    transition: color 500ms
}

td.actions i:hover{
    color: blue
}